<h2 align="center">bit_blog</h2>
<br/>
<div class="row">
  <div class="well col-xs-8 col-xs-offset-2">
    <p>A tech blog developed by Travis Shields with Ruby on Rails. Incorporates a custom authentification system so users can sign up and post articles. Once signed in, users can create, edit, and delete articles, which include a title, description, and association with categories. Build with a PostgreSQL database, content includes both one-to-many and many-to-many relationships. Articles can be filtered by user and category. Includes admin user functionality for monitoring users posts with the capability of editing and deleting content. Adds styling using Twitter Bootstrap, profile images with Gravatars, and pagination for listing views.</p>
  </div>
</div>

<!-- <%= link_to 'Home', root_path %> -->
