<div class="jumbotron center">
  <h1>[bit_blog]</h1>
  <p><strong>A tech hub for web development</strong></p>
  <p><%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-warning" %></p>
  <!-- <p><%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-xlarge" %></p> -->
</div>
