<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Brackets blog</a>
      by <a href="http://www.travis-shields.com">Travis Shields</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
