<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">bit_blog</a> 2016
      - <a href="http://www.travis-shields.com" target="_blank"><strong>Travis Shields</strong></a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
